<section id="hero" class="top-section text-center wow fadeInUp">
  <div class="hero-container">
    <div class="section-title text-center">
      <h1>Bienvenido a Cartelera Digital</h1>
      <h2>Eventos Culturales en todo el estado de Hidalgo</h2>
    </div>
  </div>
  <div class="container">
    <div class="owl-carousel owl-theme">
      {{#each events}}
        <div><img src="{{banner}}" alt="img"></div>
      {{/each}}
    </div>
  </div>
</section>

<section id="hero" class="wow fadeIn">
  <div class="hero-container">
    <h2>Galeria de Eventos</h2>
    <p class="separator">Eventos Disponibles</p>
    <img src="/img/app.png" alt="Store App">
    <div class="btns">
      <a href="https://itunes.apple.com/es/app/cartelera-cultural-de-hidalgo/id1271523922?mt=8"><i class="fa fa-apple fa-3x"></i> App Store</a>
      <a href="https://play.google.com/store/apps/details?id=cic.carteleradigital&hl=es"><i class="fa fa-play fa-3x"></i> Google Play</a>
    </div>
  </div>
</section>

<section id="blog" class="padd-section wow fadeInUp">
  <div class="container">
    <div class="section-title text-center">
      <h2>Eventos</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#each events}}
        <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="{{image}}" alt="img"></a>
              <div class="content-blog">
                <h4 class="d-flex justify-content-between align-items-center">
                  <strong>{{title}}</strong>
                </h4>
                <span>{{description}}</span>
                <a href="/detail/{{_id}}" class="pull-right readmore"><strong>Ver mas</strong></a>
              </div>
            </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
