<section id="blog" class="padd-section wow fadeInUp">
  <div class="container">
    <div class="section-title text-center">
      <h2>Horarios Vigentes</h2>
      <p class="separator">Estos horarios fueron creados por ti, nadie mas los puede ver</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{#each schedules}}
        <div class="col-md-6 col-lg-4">
            <div class="block-blog text-left">
              <a href="#"><img src="/img/user.png" alt="img"></a>
              <div class="content-blog">
                <h4 class="d-flex justify-content-between align-items-center">
                  {{name}} <a href="/schedules/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <span>{{date}}</span>
                <form class="" action="/schedules/delete/{{_id}}?_method=DELETE" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="pull-right readmore" type="submit">Delete</button>
                </form>
              </div>
            </div>
        </div>
      {{else}}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md 12 col-lg-4 mx-auto">
              <div class="card">
                <div class="card-body">
                  <h1 class="text-center">Hola {{user.name}}</h1>
                  <p class="lead text-center">No hay horarios aun</p>
                  <a href="/schedules/add" class="btn btn-success btn-block">Crea uno</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
